body{
    background: rgb(83, 223, 204);
    color: white;
    text-align: center;
}
input{
    color: black;
    border-radius: 6px;
    background: white;
}

button{
    color: white;
    border-radius: 2px;
    
    
}
